<div class="kontejner">
<mat-toolbar class="heder">
  <div class="leva-strana">

    <span class="maplikacija">Maplikacija</span>
  </div>
  <div class="desna-strana">
    <span class="elementi"  [routerLink]="['']">Pocetna</span>
    <span class="elementi"  [routerLink]="['mapa']">Mapa</span>
    <span class="elementi"  [routerLink]="['izvestaji']">Izvestaji</span>
    <span class="elementi"  [routerLink]="['podaci']">Podaci</span>
    <div class="dugmic">
    <button class="odjavi-se-dugme" mat-raised-button (click)="openDialog()">Odjavi se</button>
    </div>
    </div>
    

  
</mat-toolbar>
<router-outlet></router-outlet>
<button type="button" >Podesavanja</button>

<div class="podesavanja">
  <mat-form-field floatLabel="auto">
    <mat-label>Korisnicko ime</mat-label>
    <input matInput>
  </mat-form-field>

<mat-form-field floatLabel="auto">
  <mat-label>Ime</mat-label>
  <input matInput>
</mat-form-field>

<mat-form-field>
<mat-label>Prezime</mat-label>
<input matInput>
</mat-form-field>

<mat-form-field>
  <mat-label>Lozinka</mat-label>
  <input type="password" matInput>
</mat-form-field>

<mat-form-field>
  <mat-label>Adresa</mat-label>
  <input matInput>
</mat-form-field>

<mat-form-field>
  <mat-label>E-mail</mat-label>
  <input matInput>
</mat-form-field>

<mat-form-field>
  <mat-label>Telefon</mat-label>
  <input matInput>
</mat-form-field>

<mat-form-field>
  <mat-label>Grad</mat-label>
  <input matInput>
</mat-form-field>

<mat-form-field>
  <mat-label>Postanski kod</mat-label>
  <input matInput>
</mat-form-field>

<div class="podesavanja-dugme-div">
<button type="button" class="podesavanja-dugme">Sacuvaj izmene</button>
<button type="button" class="podesavanja-dugme">Otkazi</button>
</div>

</div>
</div>